@model ProductHomePageModel

<div class="row">
	<div class="col-md-9">
		<h1>Nové produkty</h1>
		<p>Posledních 10 produktů dle data vložení do eshopu</p>
		<div class="row grid">
			@foreach (var item in Model.LatestProducts)
			{
				<div class="col-md-4">
					<div class="item">
						<h3><a asp-controller="Products" asp-action="Detail" asp-route-identifier="@item.Identifier">@item.Title</a></h3>
						<p>@item.Price.ToString("C2")</p>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="col-md-3">
		<h2>Bestsellery</h2>
		<p>TOP 10 produktů dle počtu objednání</p>
		<ul>
			@foreach (var item in Model.Bestsellers)
			{
				<li>
					<a asp-controller="Products" asp-action="Detail" asp-route-identifier="@item.Identifier">
						@item.Title (@item.PurchasesCount)
					</a>
				</li>
			}
		</ul>
		
		<h2>Nejnavštěvovanější</h2>
		<p>TOP 10 produktů dle počtu zobrazení</p>
		<ul>
			@foreach (var item in Model.MostViewed)
			{
				<li>
					<a asp-controller="Products" asp-action="Detail" asp-route-identifier="@item.Identifier">
						@item.Title (@item.Views)
					</a>
				</li>
			}
		</ul>

		<h2>Newsletter</h2>
		<div class="newsletter">
			<form asp-controller="Newsletter" asp-action="Subscribe" method="post">
				<input type="text" name="email" id="email" class="form-control" />
				<input type="submit" value="Přihlásit" class="btn btn-success" />
			</form>
		</div>
	</div>
</div>
