@model ProductListPageModel

<div class="row">
	<div class="col-md-12">
		<form asp-controller="Products" asp-action="Index" method="post">

			@{ var tags = CommonLists.GetAllTags();}

			<div style="background: #eee; padding: 10px;">
				<h3>Filtr</h3>
				
				@{ int order = 0;}
				@foreach (var filter in CommonLists.TagTypes())
				{
					<p>
						<strong>@filter.Value</strong>
						
						@foreach (var item in tags.Where(x => x.Type == filter.Key))
						{
							<input type="hidden" name="[@order].Id" value="@item.TagId" />
							if (Model.SelectedTags.Contains(item.TagId))
							{
								<input type="checkbox" name="[@order].Selected" checked="checked" />
							}
							else
							{
								<input type="checkbox" name="[@order].Selected" />
							}

							@item.Title
							<text> &nbsp; &nbsp; </text>
							order = order + 1;
						}
					</p>
				}

				<br />
				<div class="text-right">
					<input type="submit" value="Filtrovat" class="btn btn-success" />
				</div>
			</div>
		</form>

		<h1>Přehled produktů</h1>
		<div class="row grid">
			@foreach (var item in Model.Products)
			{
				<div class="col-md-4">
					<div class="item">
						<a asp-controller="Products" asp-action="Detail" asp-route-identifier="@item.Identifier">@item.Title</a>
						<p>@item.Price.ToString("C2")</p>
					</div>
				</div>
			}
		</div>
	</div>
</div>
